GROQ_API_KEY=""

ELEVENLABS_API_KEY=""
ELEVENLABS_VOICE_ID=""

TOGETHER_API_KEY=""

QDRANT_URL=""
QDRANT_API_KEY=""

TEXT_MODEL_NAME="llama-3.3-70b-versatile"
SMALL_TEXT_MODEL_NAME="llama-3.1-8b-instant"
STT_MODEL_NAME="whisper-large-v3-turbo"
TTS_MODEL_NAME="eleven_flash_v2_5"
TTI_MODEL_NAME="black-forest-labs/FLUX.1-schnell-Free"
ITT_MODEL_NAME="meta-llama/llama-4-scout-17b-16e-instruct"

WHATSAPP_PHONE_NUMBER_ID = ""
WHATSAPP_TOKEN = ""
WHATSAPP_VERIFY_TOKEN = ""
